.center-panel {
    background-color: #eee;
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 8px;
}

.avatar {
    width: 160px;
    height: 160px;
}

.messagePanel {
    background-color: #eee;
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
}

.titleLabel {
    margin: 0;
    font-size: 24px;
}

.vocationLabel {
    margin: 0;
    font-size: 14px;
}

.commonLabel {
    margin: 0;
    font-size: 14px;
}

.info-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
}

.info-header {
    margin: 0;
    font-size: 24px;
}

.detail-title {
    margin-top: 8px;
    margin-bottom: 2px;
}

.detail-list {
    margin: 0;
    font-size: 14px;
}

.detail-item {
    line-height: 0.8;
}

hr {
    margin: 2px 0 8px 0;
    width: inherit;
    height: 2px;
    background-color: #000000;
}

.lead {
    margin: 0px;
    font-size: 16px;
}

.left-Label {
    display: inline-block;
    text-align: left;
}

.value-Label {
    text-align: right;
}